#!/usr/bin/python3 -B
import elevator.actions.defaultActions
import elevator.actions.additionalActions


class TemplateActions(actions.additionalActions.AdditionalActions):

    def __init__(self, browser, default):
        super().__init__(browser, default)
